repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      args: [-C]
      language_version: python3.8