[tool.poetry]
name = "tawazi"
version = "0.1.2"
description = "This library helps you execute a set of functions in a Directed Acyclic Graph (DAG) dependency structure in parallel in a production environment. It aims at providing This in a production environment"
authors = ["Bashir Abdelwahed <bashir@mindee.co>, Matthias Cremieux <matthias@mindee.co>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^2.6.3"

[tool.poetry.dev-dependencies]
pre-commit = "^2.20.0"
matplotlib = "^3.5.3"
black = "^22.6.0"
mypy = "^0.971"
flake8 = "^5.0.4"
pytest = "^7.1.2"
ipdb = "*"
pytest-cov = "^3.0.0"
mkcodes = "*"

[tool.pytest.ini_options]
addopts = "--cov-report=term-missing:skip-covered --junit-xml=pytest-junit.xml --cov=tawazi tests"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.mypy]
python_version = "3.8"
exclude = ["tests"]
# --strict
disallow_any_generics = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
implicit_reexport = false
strict_equality = true
# --strict end

[[tool.mypy.overrides]]
module = "matplotlib.*,networkx.*"
ignore_missing_imports = true

[tool.isort]
profile = "black"
line_length = 100

[tool.black]
skip-magic-trailing-comma = true
line-length = 100
