[tool.poetry]
name = "tawazi"
version = "0.2.0"
description = "This library helps you execute a set of functions in a Directed Acyclic Graph (DAG) dependency structure in parallel in a production environment. It aims at providing This in a production environment"
authors = ["Bashir Abdelwahed <bashir@mindee.co>", "Matthias Cremieux <matthias@mindee.co>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://pypi.org/project/tawazi/"
repository = "https://github.com/mindee/tawazi"


[tool.poetry.dependencies]
python = "^3.8"
networkx = ">=2,<4"
pydantic = "~1"
loguru = "~0"
PyYaml = "~6"
typing_extensions = ">=3.10"

[tool.poetry.dev-dependencies]
# pre-commit = "^3.0.2"
matplotlib = "^3.5.3"
# black = "^23.1.0"
# mypy = "^1.0"
# flake8 = "^5.0.4"
pytest = "^7.1.2"
pytest-cov = "^4.0.0"
pytest-codeblocks = "*"
# documentation packages

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.4.0"
mike = "1.1.2"
mkdocs-exclude = "1.0.2"
mkdocs-material = "9.1.3"
mkdocstrings-python = "*"

[tool.pytest.ini_options]
addopts = "--pdbcls=IPython.terminal.debugger:TerminalPdb --cov-report=term-missing:skip-covered --junit-xml=pytest-junit.xml --cov=tawazi"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.mypy]
python_version = "3.8"
exclude = ["tests"]
# --strict
disallow_any_generics = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
implicit_reexport = false
strict_equality = true
# --strict end

[[tool.mypy.overrides]]
module = "matplotlib.*,networkx.*,yaml.*"
ignore_missing_imports = true

[tool.black]
skip-magic-trailing-comma = true
line-length = 100


[tool.ruff]
# Use of assert detected
ignore = ["E501", "S101"]
src = ["src"]
line-length = 100
target-version = "py38"
select = [
    "B",
    "D",
    "E",
    "F",
    "I",
    "N",
    "PGH",
    "UP",
    "S",
    "T20",
    "TID",
    "W",
    "RET"
]

[tool.ruff.per-file-ignores]
"tests/*.py" = ["D"]
"scripts/*.py" = ["D", "PGH"]

[tool.ruff.flake8-tidy-imports]
ban-relative-imports = "parents"

[tool.ruff.pydocstyle]
convention = "google"
