
name: Formatting Workflow

on:
  push:
    branches: [ "main", "v0.3/main" ]
  pull_request:
    branches: [ "main", "v0.3/main" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  issues: write
  pull-requests: write
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install pre-commit
        run: |
          pip install pip --upgrade
          pip install pre-commit

      - name: Run pre-commit
        run: |
          pre-commit run -a
