# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  issues: write
  pull-requests: write
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]  # windows-latest doesn't work well!
        python_version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python_version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python_version}}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        curl -sSL https://install.python-poetry.org | python3 - --version 1.2.0b2
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        poetry install

    - name: extract files from README.md
      run: |
        poetry run mkcodes --github --safe --output tests/test_md.py README.md

    - name: Run pre-commit
      run : |
        poetry run pre-commit run -a

    - name: Run mypy
      run: |
        poetry run mypy -p tawazi

    - name: Run tests
      run: |
        set -o pipefail
        poetry run pytest | tee pytest-coverage.txt
        # test extracted python code from markdown
         poetry run python tests/test_md.py

    - name: Pytest coverage comment
      uses: MishaKav/pytest-coverage-comment@main
      with:
        pytest-coverage-path: ./pytest-coverage.txt
        junitxml-path: ./pytest-junit.xml
